@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Shared Styles*/
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: 400;
}

.display-flex{
    display: flex;
}

.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
/* Header styles */
.header{
    background-color: rgba(255, 144, 14, 0.1)
}
/*Navbar styles*/
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    margin: 50px 150px;
}
.navbar ul{
    margin: 50px 150px;
}
.navbar li{
    list-style: none;
    margin-right: 30px;
}
.navbar a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}
.brand-name{
    font-size: 3rem;
    font-weight: 700;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */
.banner-text{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: normal;
    font-size: 1rem;
    color: #727272;
    margin-top: -45px;
}
.banner img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}

/*main section styles*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.features{
    align-items: center;
    margin-top: 130px;
}
.features-text{
    margin-left: 70px;
    max-width: 530px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-tittle{
    font-size: 2.8rem;
}
.feature-details{
    color: #727272;
    font-size: 1rem;
    margin-top: -17px;
    margin-bottom: 32px;
}
.QL{
    color: #727272;
    font-weight: 500;
}
.OO{
    color: #131313;
    font-weight: 700;
}
.FT{
    color: #FF900E;
    font-weight: 700;
}

/* Facts section styles */
.facts{
    margin-top: 130px;
}
.fact-tittle{
    font-weight: bold;
    font-size: 2.8rem;
}
.fact-details{
    font-weight: normal;
    font-size: 1rem;
    color: #727272;
    margin-top: 14px;
    margin-bottom: 100px;
    max-width: 540px;
}
.fact-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin: 0 60px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 220px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-card h4{
    font-weight: 600;
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-card h5{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

/* Sponsors part styles */
.sponsors{
    margin-top: 140px;
}
.sponsors-tille{
    font-weight: bold;
    font-size: 2.8rem;
    color: #131313;
    text-align: center;
    /* max-width: 540px; */
    /* margin: 0 auto; */
}
.sponsors-detail{
    font-weight: normal;
    font-size: 1rem;
    color: #727272;
    text-align: center;
    /* max-width: 540px; */
    margin-top: -35px;
    /* margin: 0 auto; */
}
.sponsors-icnos img{
    margin-top: 15px;
    margin-left: 105px;
    filter: grayscale(100%);
}
/* Responsiveness */
@media screen and (max-width:576px){
    .navbar,.features{
        flex-direction: column;
    }
    .banner-tittle{
        font-size: 2rem;
        /* margin: 0px 0px 65px 0px; */
        margin-bottom: 65px;
    }
    .team-pic{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-tittle{
        font-size: 1.5rem;
    }
    .features-text{
        margin-left: 35px;
    }
    .fact-items{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-tittle,.fact-details{
        margin-left: 40px;
    }
    .fact-details{
        font-size: 1.5rem;
    }
}

@media screen and (min-width:576px) and (max-width:990px) {
    .navbar{
        flex-direction: column;
    }
    /* .navbar,.banner{
        width: 1240px;
    } */
    .features{
        flex-direction: column;
    }
    .features-text{
        margin-left: -185px;
    }
    .fact-items{
        grid-template-columns: repeat(2,1fr);
    }
    .fact-tittle,.fact-details{
        margin-left: 85px;
    }
    .sponsors-icnos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
}